#header {
	border: 1px solid black;
	width: 100%;

}

#header #haut {
	width: 100%;
	height: 130px;
	background: url("/static/img/choice.jpg") no-repeat center;
	background-color: black;
}

#header #haut h1 {
	color: red;
	margin-top: 0;
	margin-left: 80px;
	padding-top: 30px;
}
#header #bas {

}

#header #bas #searchbar {
	float: right;
	line-height: 30px;
	vertical-align: middle;
	margin-right: 50px;
}

#header #bas #menu {		
	text-align:left;
	margin-left: 20px;
}
#header #bas #menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;	
}
#header #bas #menu ul li {
	line-height: 30px;
	color: black;	
}
#header #bas #menu ul li.not_first {
	margin-right: 20px;
	float:left;
}
#header #bas #menu img {
	height: 30px;
	width: 30px;
	vertical-align: middle;	
	border: 0;

}
